doctype html
html(lang='en')
  head
    title Jade
    style
        include ../public/styles.css
 
  body
  .blog-list-item 
    img(href='https://miro.medium.com/max/1280/0*FQwFT6IoDTerfjKP.jpg')
    .blog-list-item-title Using Jade (Pug) to preprocess HTML
    .blog-list-item-byline
        span.blog-list-item-byline-author Nikita Kazakov
        br
        span.blog-list-item-byline-date Oct 19, 2015 
    .blog-list-item-lede  HTML looks like soup as you create complex layouts. You have to use opening <tag> and closing </tag>. They are everywhere and you can’t forget to close one. Okay, I know that if you’re using a text editor like sublime text, it sort of takes care of these problems with plugins. Jade Templating language, now known as Pug, transpiles into HTML and fixes this issue. Jade is an HTML templating language. Actually, it is not only for HTML because it also provides an extension to writing javascript. Let me show you HTML vs Jade. One word of warning: If you intend to use PHP, don’t use Jade. It is javascript friendly, and unfortunately doesn’t play well with <% php> tags. 

    img(href='https://miro.medium.com/max/1280/0*FQwFT6IoDTerfjKP.jpg')
    .blog-list-item-title Why I Dropped Jade (Pug)
    .blog-list-item-byline
        span.blog-list-item-byline-author Rob Muhlestein
        br
        span.blog-list-item-byline-date Sep 22, 2016 
    .blog-list-item-lede  A little while back Jade got renamed to Pug. Since discovering Jade a few years back I have been a big fan. I don’t want to think it was because I was doing a lot more Python programming at the time (and less Go) but I am sure I was influenced.

    img(href='https://miro.medium.com/max/1280/0*FQwFT6IoDTerfjKP.jpg')
    .blog-list-item-title Using PUG (or Jade) templates with the Angular-CLI
    .blog-list-item-byline
        span.blog-list-item-byline-author Mark Pieszak
        br
        span.blog-list-item-byline-date Jan 22, 2013 
    .blog-list-item-lede  Let’s take a very simple example, one that a beginner student might encounter. Say you are creating a simple, single page web site for a school project. You create all the content as a single HTML page and a single style sheet that you link in. You are just learning about static site generators and web build processes and want to start small by just combining the two and running them through a minifier.
    

